@import 'src/style/utils/mixin.scss';

.calendarHeader {
  @include flex(row);

  flex-wrap: wrap;
  align-items: center;
}

.hint {
  margin: auto 0 auto auto;

  .timezone {
    text-align: right;
  }
}
