.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dayContainer {
  flex: 1;
  margin: 0 4px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-top: 4px solid var(--primary-color);

  &-time_disable {
    color: var(--primary-disable-color);
  }

  &-time_available {
    color: var(--primary-available-color);
    font-weight: bold;
  }
}
