.calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dayContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 4px solid var(--primary-color);

    &-time_disable {
        color: var(--primary-available-color);
    }

    &-time_available {
        color: var(--primary-available-color);
        font-weight: bold;
    }

}