@import 'src/style/utils/mixin.scss';

.calendar {
  @include flex(row);
  justify-content: space-between;

  padding: 15px 0;
}

.dayContainer {
  @include flex();
  flex: 1;
  margin: 0 5px;

  align-items: center;
  border-top: 4px solid var(--primary-color);

  &-time_disable {
    color: var(--primary-disable-color);
  }

  &-time_available {
    color: var(--primary-available-color);
    font-weight: bold;
  }
}

.dayViewer_disable {
  border-color: var(--primary-disable-color);

  * {
    color: var(--primary-disable-color);
  }
}

.dateBoard {
  @include flex();
  width: 100%;
  margin: 10px 0;
}

.timeBoard {
  width: 100%;

  .time {
    @include flex();
    align-items: center;
    padding: 4px 0;
  }
}
